/* ------------------------------
 全体レイアウト
------------------------------ */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.785rem;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

@media screen and (max-width: 670px) {
    .header {
        margin: 5px 0;
    }
}

.logo {
    height: 25px;
    width: auto;
}

.title {
    text-align: center;
    font-size: 20px;
    color: #333;
}

.chat-container {
    width: 92%;
    max-width: 400px;
    height: calc(100vh - 150px);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.input-area {
    display: flex;
    border-top: 1px solid #ddd;
}

input {
    flex: 1;
    padding: 15px;
    border: none;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid transparent;
}

button {
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


/* ------------------------------
 メッセージの区別
------------------------------ */
.auto-reply {
    align-self: flex-start;
    /* 自動返信メッセージを左寄せ */
}

.user-message {
    align-self: flex-end;
    /* ユーザーのメッセージを右寄せ */
}


/* ------------------------------
 メッセージ表示
------------------------------ */
#messages {
    list-style-type: none;
    padding: 20px;
}

#messages li {
    position: relative;
    border-radius: 10px;
    padding: 10px 15px;
    width: fit-content;
    max-width: 80%;
    margin: 5px 0;
    background-color: #dcf8c6;
    white-space: pre-line;
    /* 改行を有効にする */
}

.user-message:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #dcf8c6;
}

.auto-reply:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    /* 矢印を左に移動 */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #dcf8c6 transparent transparent;
}

/* ------------------------------
 ローディング画面
------------------------------ */
#splash {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #333;
    text-align: center;
    color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
    width: 260px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}